APP_ENV=development
APP_NAME=Platform
APP_PUBLIC_URL=http://localhost:3000
ADMIN_PUBLIC_URL=http://localhost:3001
API_PUBLIC_URL=http://localhost:4000
LOG_LEVEL=info

DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=platform
DATABASE_USER=platform_app
DATABASE_PASSWORD=change-me
MIGRATOR_DATABASE_USER=platform_migrator
MIGRATOR_DATABASE_PASSWORD=change-me

VALKEY_HOST=valkey
VALKEY_PORT=6379
VALKEY_PASSWORD=change-me

NATS_URL=nats://nats:4222
NATS_USER=platform
NATS_PASSWORD=change-me

TEMPORAL_ADDRESS=temporal:7233
TEMPORAL_NAMESPACE=platform

KEYCLOAK_ISSUER=http://keycloak:8080/realms/platform
KEYCLOAK_JWKS_URL=http://keycloak:8080/realms/platform/protocol/openid-connect/certs
KEYCLOAK_CLIENT_ID=platform-web

OPA_URL=http://opa:8181
AI_GATEWAY_URL=http://ai-gateway:8000

MEDIA_DRIVER=local
MEDIA_LOCAL_ROOT=/srv/platform/media
